extends layout

block content
  p.usage 使い方は #[a(href="/usage").check こちら]
  div.sum
    h2 合計: #{sum} 個
  div.mode-select
    div.mode
      label
        input(type="radio" name="mode")#manage
        | 在庫管理
      label
        input(type="radio" name="mode")#register
        | コード登録 
  div#manageForm.manage-form
    div.container
      form(action="/products/update-stock" method="POST")
        input(type="text" name="verifyCode")#verifyCodeInput
        button(type="submit").btn.manage-stock いただきます！
      p 選択した商品: #[span#productName]
  div#registerForm.register-form
    div.container
      form(action="/products/register-code" method="POST")
        input(type="text" name="registeredInfo")#registerCodeInput
        button(type="submit").btn.register-code 登録する！
      p 「コード 商品名」のように入力
  div#cameraCanvas.camera-canvas
  div.contents
    ul 
      if (products)
        each product in products 
          li.productDisplay #{product.name}: 残り #{product.stock}
            input(type="hidden" value=product.code).productCode
  script(src="javascripts/bundle.js")