extends layout

block content
  div.instruction-container
    h1.how-to-use どうやって使う？
    div.instruction
      ol.line
        span.preparation  ----- 準備 -----
        li "取得" をクリック後、当月購入した商品の名前と個数が表示されます。
        li 表示後、"コード登録" を選択し、バーコードリーダーで商品をスキャンします。
        | フォームに #[span.caution ※]「バーコード 商品名」のように入力し "登録する" をクリックします。
        li 全商品のバーコード登録が完了するまで「２」を繰り返します。
        span.done ----- 完了 -----
        li "在庫管理" を選択し、バーコードリーダーに商品をスキャンします。
        li スキャン完了後、「選択した商品」に商品名が正しく入っていれば
        | "いただきます！" をクリックします。（これで終了です）
      p #[span.caution ※] 正しく入力しないとエラーが発生します。エラがーが出た場合はやり直して下さい。
      p #[span.caution ※] バーコードの登録に成功した商品には緑色の印#[span.example ・]が付与されます。